; ASTB Configuration File
; Allegro SKILL Toolbox v2.2

[General]
Version=2.2.0
Author=EDA365/FANYI/AXL
Date=2024-07-07

[Paths]
CoreDir=core
ModulesDir=modules
FormsDir=forms
ConfigDir=config

[Modules]
Check=1
Package=1
Placement=1
Routing=1
Shape=1
Text=1
Utilities=1
Via=1

[Features]
AutoLoad=1
MenuInject=1
VersionCheck=1
DebugMode=0
